<%- model_class = User -%>
<div class="page-header">
  <h1><%= t('dashboard.title', name: @user.first_name) %></h1>
</div>

<% if user_signed_in? and current_user.non_single_teams.present? %>

      <h4><%= t('teams.index.my_teams')%> <a><%= t('dashboard.show_all')%></a></h4>


    <div class="tile-wrapper">
      <% current_user.non_single_teams.each do |team| %>
          <%= render partial: 'application/tile_template', locals: {title: team.name, image_url: team.avatar_url || 'https://owncloud.hpi.de/index.php/s/Rtv2QMBLOKmGqiA/download', description: team.kind_of_sport,
                                                                    destination_path: team_path(team), description_class: ''} %>
      <% end %>
    </div>
<% end %>
