
<div class="form-group">
  <%= form.label :game_mode, :class => 'control-label col-lg-2' %>
  <div class="col-lg-10">
    <%= form.select(:game_mode, League.game_modes.map {|k, _| [k.humanize, k]},
                 { include_blank: t('events.new.select_game_mode')},
                 { class: 'form-control' }) %>
  </div>
</div>
