<div class="form-group">
  <%= form.label :game_mode, class: 'control-label col-lg-2' %>
  <div class="col-lg-10">
    <%= form.select(:game_mode, Tournament.game_modes.map {|k, v| [k.humanize, v]},
                 { include_blank: t('events.new.select_game_mode')},
                 { class: 'form-control' }) %>
  </div>
</div>
