<!-- Add css file manually, since it does not get linked automatically as it should -->
<%= stylesheet_link_tag 'welcome' %>

<div class="white-text center">
  <h1>Lorem ipsum dolor sit amet</h1>
  <div class="row">
    <p class="header-description">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, <br /> sed diam nonumy eirmod tempor invidunt ut labore et</p>
  </div>
  <div class="row">

  </div>
</div>