<div class="text-center">
  <h1 class="page-header"><%= t 'appname' %></h1>
  <img class="img-responsive" src="https://bluefin-live-assets.s3.amazonaws.com/media/filer_public_thumbnails/filer_public/30/dc/30dcb5b3-815d-4e4c-af3e-d2823050911c/sports_montage_-_chosen_concept_v9_carouselv3_rgb.jpg__1600x580_q85_crop_upscale.jpg"/>
  <p class="lead"><%= t '.lead' %></p>
</div>