<div class="page-header">
  <h1><%=t '.title', default: :'helpers.titles.edit', model: @event.model_name.human.titleize %></h1>
</div>

<%= render 'form', submit_label: t('helpers.links.save'), back_path: event_path(@event) %>
