<h1><%= t('mailer.hello', firstname: @user.first_name) %></h1>
<p><%= t('mailer.team_mailer.user_added_to_team.added_to_team_info', team_name: @team.name) %></p>
<p><%= t('mailer.team_mailer.user_added_to_team.have_fun') %></p>
<p><%= t('mailer.closing', appname: t('appname')) %></p>