<%= stylesheet_link_tag 'errors' %>

<h1>404</h1>
<p class="sideNotFound"><%= t('errorpage.site_not_found') %></p>

<hr>

<p class="eventOrganisation"><%= t('errorpage.organize_event') %></p>

<%= render partial: 'events/event_cards' %>