!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1><%= t('.hello', firstname: @user.first_name) %></h1>
<p><%= t('.next_game_info', name: @match.event.name, startdate: I18n.localize(@match.event.startdate), team_home: @match.team_home.name, team_away: @match.team_away.name, place: @match.place) %></p>
<p><%= t('.have_fun') %></p>
</body>
</html>
