/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require bootstrap-datepicker3
 *= require navbar
 *= require footer
 *= require bootstrap_and_overrides
 *= require_self
 */

/* Override colors of Materialize */
@import "materialize/components/color";
$primary-color: #01A8E8 !default;
$secondary-color: #01A8E8 !default;

@import "materialize";

/* Load custom font families */
@font-face {
  font-family: 'Proxima Nova';
  src: url('/assets/ProximaNova-Reg.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova Bold';
  src: url('/assets/ProximaNova-Bold.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

/* Application wide style */
* {
  font-family: "Proxima Nova";
}
.navbar-overlap {
  padding-top: 50px;
}
