h1 {
    text-align: center;
    font-size: 8em;
    font-weight: bold;
    color: #1CA9E5;
    margin-bottom: 0;
    text-align: center;
}

p {
    font-size: 1.5em;
    color: #1CA9E5;
    text-align: center;
}

h2 {
    font-size: 2em;
    font-weight: bold;
    text-align: center;
}
