/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

form.event {
    display:flex;
    flex-direction:column;
}

@for $i from 1 through 5 {
    .order-#{$i} {
        order: $i;
    }
}