footer {
    text-align: center;
}

footer > .primary-link {
    color: #1CA9E5;
    font-size: 30px;
}

footer > .secondary-links, footer > .secondary-links > a {
    color: #B2B2B2;
}

footer > p.secondary-links > a {
    font-size: 1rem;
}
