footer {
    text-align: center;
    margin-top: 15px;
    margin-bottom: 5px;
}

footer > .primary-link {
    color: #1CA9E5;
    font-size: 30px;
}

footer > .secondary-links, footer > .secondary-links > a {
    color: #B2B2B2;
}