@media screen and (min-width : 768px) {
    .navbar .dropdown:hover .dropdown-menu {
        display: block;
    }

    .navbar {
        background-color: transparent;
    }

    .navbar-fixed-top{
        background-color: #0f3157 !important;
    }

    .navbar-collapse {
        background-color: transparent;
    }
}

@media screen and (max-width : 768px) {
    .nav > .divider-vertical {
        display: none;
    }

    .navbar.navbar-fixed-top {
        background-color: #0f3157 !important;
    }

    img.logo-img{
        height: 38px;
        margin-top: -2px !important;
    }

    li {
        width: 100%;
    }

    .navbar-collapse ul {
        margin-top: 0px;
    }

    .navbar-header {
        padding-bottom: 7px;
    }

    .navbar-collapse {
        background-color: #0f3157 !important;
        padding-top: 5px;
    }

    .navbar-nav > li {
        text-align: center;
    }
}

.mobile-avatar {
    height: 48px;
    width: 48px;
}

.navbar-nav a{
    background-color: transparent !important;
}

.navbar-nav a:hover{
    color: #1ba9e5 !important;
}

.transparent{
    background-color: transparent !important;
}

img.logo-img{
    height: 38px;
}

img.login-img{
    height: 38px;
    margin-top: -9px;
}

ul.nav.navbar-nav.navbar-right {
    margin-top: 7px;
}

.nav.navbar-nav.navbar-right li.active{
    background-color: transparent;
}

.navbar .dropdown-menu li {
    text-align: center;
}
.navbar-default {
    background-color: transparent;
    border-color: transparent;
    width: 100%;
}

.navbar-default .navbar-nav > li > a {
    color: white !important;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: white;
    background-color: transparent;
    border-style: none;
    background: none;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #1ba9e5;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #1ba9e5;
}

img.avatar {
    height: 24px;
    width: 24px;
    object-fit: cover;
}

.container, .container-fluid{
    max-width: 1200px;
}

