/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

/* Overwrite container from application.html.erb for background image only*/
body > .background-layer > .container {
    width: 100%;
    max-width: 100% !important;
    padding: 0 0;
}

#teamProfile {
    background-size: cover;
    background-position: center;
    width: 100%;
    background-image: url(https://owncloud.hpi.de/index.php/s/fERWNGqZbm6ud1p/download);
    min-height: calc(875 / 1200 * 100vw);
}

#teamProfileImage {
    width: 200px;
}

h1, h2 {
    color: #1CA9E5;
    font-weight: 500;
}

h1 {
    margin-top: 0;
}

.genericButton {
    border-radius: 100px;
    color: #FFFFFF;
    letter-spacing: 0;
    height: auto;
    padding: 15px 50px;
}

#membershipButton {
    font-size: 24px;
    border: 1px solid #FFFFFF;
    background: transparent;
}

.blueActionButton {
    background: #1CA9E5;
    padding: 5px 50px;
}

.whiteActionButton, .whiteActionButton:focus {
    padding: 10px 25px;
    border: 1px solid darkgrey;
    background-color: transparent;
    color: black;
}

#kindOfSports {
    background-color: #F3F9FF;
    padding: 20px 0;
    font-weight: 500;
}

.participant {
    background-color: #F3F9FF;
    border: 10px solid #FFFFFF;
    border-radius: 5px;
    height: 80px;
}

.participant img {
    height: 35px;
}

.divider {
    height: 2px;
    margin: 30px 0;
}

/* Smartphones */
@media only screen and (max-width: 600px) {

    .genericButton {
        font-size: 20px;
    }
}

/* for background only, 1200px is width of all bg-images */
@media only screen and (max-width: 1199px) {

    #teamProfile {
        padding-bottom: calc(190 / 875 * 100%);
    }
}