@media screen and (min-width : 800px) {
    .tile-wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

@media screen and (max-width : 799px) and (min-width: 400px){
    .tile-wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr
    }
}

.tile-img-wrapper {
    height: 9em;
    width: 100%;
}

.tile {
    width: 100%;
    max-width: 200px;
    padding: 16px;
    display: inline;
    cursor:pointer;
}



.tile-img {
    display: block;
    max-width: 100%;
    max-height: 100%;
    margin-bottom: 5px;
}

.tile-title {
    margin-left: 5px;
    margin-top: 5px;
    font-size: 150%;
    font-weight: bold;
    display: block;
}

.tile-description {
    margin-left: 7px;
    display: block;
    overflow: hidden;
}