/*
    All css for landing page.
 */

/* Overwrite container from application.html.erb for background image only*/
body>.container {
    width: 100%;
    max-width: 100%;
    padding: 0 0;
}

.section {
    padding: 0;
    background-size: cover;
    background-position: center;
    width: 100vw;
    /* children have to set attributes as following:
    min-height: calc(<image height>/<image width> * 100vh);
    padding-bottom: calc(<height of edge> / <image height> * 100%);
    margin-bottom: calc(- <height of edge> / <image height> * 100%);
    z-index: number of sections - index of this section
     */
}

.section.darkblue-soccer  {
    background-image: url(https://owncloud.hpi.de/index.php/s/9COQa356VzqZGon/download);
    min-height: calc(796 / 1200 * 100vw);
    padding-bottom: calc(160 / 796 * 100%);
    margin-bottom: calc(-160 / 796 * 100%);
    z-index: 5;
}

.section.lightblue-soccer  {
    background-image: url(https://owncloud.hpi.de/index.php/s/X1ROoJHfM0dbdya/download);
    min-height: calc(888 / 1200 * 100vw);
    padding-bottom: calc(84 / 888 * 100%);
    margin-bottom: calc(-84 / 888 * 100%);
    z-index: 4;
    padding-top: calc(84 / 796 * 100%);
}

.section.orange-basketball  {
    background-image: url(https://owncloud.hpi.de/index.php/s/rkCBUFNVV5Pw9kE/download);
    min-height: calc(746 / 1200 * 100vw);
    padding-bottom: calc(100 / 888 * 100%);
    margin-bottom: calc(-100 / 888 * 100%);
    z-index: 3;
    padding-top: calc(100 / 796 * 100%);
}

.section.white-nothing  {
    min-height: calc(800 / 1200 * 100vw);
    z-index: 2;
    padding-top: calc(100 / 796 * 100%);
}

.section.purple-skating  {
    background-image: url(https://owncloud.hpi.de/index.php/s/BokofLs1yk3wJlL/download);
    min-height: calc(756 / 1200 * 100vw);
    z-index: 1;
    padding-top: calc(100 / 796 * 100%);
}

h1 {
    margin: 0 0 0.68rem 0;
}

#header-description {
    font-size: 1.6rem;
}

.registerButton {
    background: #1CA9E5;
    border-radius: 100px;
    font-size: 24px;
    color: #FFFFFF;
    letter-spacing: 0;
    height: auto;
}

.mobile-sport-player {
    max-height: 40vw;
}

.sport-name {
    text-transform: uppercase;
    color: #FFFFFF;
    line-height: 3rem;
}

p {
    font-size: 1.4rem;
}

/*============================
    Device dependent css style
  ============================*/

/* Desktop | Laptop */
@media only screen and (min-width : 1300px) {

    .section.darkblue-soccer {
        padding-top: 13%;
    }

    .registerButton {
        padding: 20px 50px;
    }

    .sport-image {
        width: 85px;
        height: 85px;
    }

    #sport-image-row {
        margin-top: 70px;
    }

    #register-row {
        margin-top: 50px;
    }
}

/* Tablet */
@media only screen and (min-width : 992px) and (max-width: 1300px) {

    .section.darkblue-soccer {
        padding-top: 8%;
    }

    .registerButton {
        padding: 5px 30px;
    }

    .sport-image {
        width: 50px;
        height: 50px;
    }
}

/* for background only, 1200px is width of all bg-images
   CAUTION: Magic numbers*/
@media only screen and (max-width: 1199px) {

    .section.darkblue-soccer {
        padding-bottom: calc(450 / 796 * 100%);
        margin-bottom: calc(-450 / 796 * 100%);
    }

    .section.lightblue-soccer {
        padding-bottom: calc(230 / 888 * 100%);
        margin-bottom: calc(-230 / 888 * 100%);
        padding-top: calc(84 / 796 * 100% + 60px);
    }

    .section.orange-basketball  {
        padding-bottom: calc(100 / 888 * 100%);
        margin-bottom: calc(-100 / 888 * 100%);
        padding-top: calc(100 / 796 * 100% + 60px);
    }
}

/* Smartphones */
@media only screen and (max-width: 992px) {

    .section.darkblue-soccer {
        padding-top: 4%;
    }

    .registerButton {
        padding: 5px 20px;
    }

    .sport-image {
        width: 30px;
        height: 30px;
    }
}