/*
    All css for landing page.
 */

/* Overwrite container from application.html.erb for background image only*/
body>.container {
    width: 100%;
    max-width: 100%;
    padding: 0 0;
}

.section {
    padding: 0;
    background-size: cover;
    background-repeat: no-repeat;
    min-width: 100vw;
    /* children have to set attributes as following:
    min-height: calc(<image height>/<image width> * 100vh);
    margin-bottom: calc(- <height of edge> / <image height> * 100%);
    z-index: number of sections - index of this section
     */
}

.section.darkblue-soccer  {
    background-image: url(https://owncloud.hpi.de/index.php/s/9COQa356VzqZGon/download);
    padding-top: 10vh;
    min-height: calc(796 / 1200 * 100vw);
    margin-bottom: calc(-160 / 796 * 100%);
    z-index: 5;
}

.section.lightblue-soccer  {
    background-image: url(https://owncloud.hpi.de/index.php/s/X1ROoJHfM0dbdya/download);
    min-height: calc(888 / 1200 * 100vw);
    margin-bottom: calc(-84 / 888 * 100%);
    z-index: 4;
    padding-top: calc(160 / 796 * 100%);
}

.section.orange-basketball  {
    background-image: url(https://owncloud.hpi.de/index.php/s/rkCBUFNVV5Pw9kE/download);
    min-height: calc(746 / 1200 * 100vw);
    margin-bottom: calc(-100 / 888 * 100%);
    z-index: 3;
    padding-top: calc(84 / 796 * 100%);
}

.section.white-nothing  {
    min-height: calc(700 / 1200 * 100vw);
    z-index: 2;
    padding-top: calc(100 / 796 * 100%);
}

.section.purple-skating  {
    background-image: url(https://owncloud.hpi.de/index.php/s/BokofLs1yk3wJlL/download);
    min-height: calc(756 / 1200 * 100vw);
    z-index: 1;
    padding-top: calc(100 / 796 * 100%);
}

h1 {
    margin: 0 0 0.68rem 0;
}

#header-description {
    font-size: 1.6rem;
}

.registerButton {
    background: #1CA9E5;
    border-radius: 100px;
    font-size: 24px;
    color: #FFFFFF;
    letter-spacing: 0;
    padding: 10px 20px;
    height: auto;
}

.sport-image {
    width: 85px;
    height: 85px;
}

.sport-player {
    max-height: 60vh;
    max-width: 40vw;
}

.sport-name {
    text-transform: uppercase;
    color: #FFFFFF;
    line-height: 3rem;
}