<%= stylesheet_link_tag 'footer' %>

<footer>
  <%= link_to t('appname'), root_path, {class: 'primary-link'} %>

  <p class="secondary-links">
    <%= link_to t('footer.imprint'), imprint_path %>
    &nbsp&nbsp | &nbsp&nbsp
    <%= link_to t('footer.hpi'), "https://hpi.de/", target: :blank %>
  </p>
</footer>
