
<div class="tile">
  <a href="<%= destination_path%>">
  <div class="tile-content">
    <div class="tile-img-wrapper">
      <img class="tile-img mobile-img" src="<%= image_url %>"/>
    </div>
    <span class="tile-title mobile-title truncate"> <%= title %></span>
    <br>
    <span class="tile-description mobile-tile-description truncate"> <%= description %></span>
  </div>
  </a>
</div>


