<div onclick="location.href='<%= destination_path%>';" class="tile">
  <div class="tile-content">
    <div class="tile-img-wrapper">
      <img class="tile-img" src="<%= image_url %>"/>
    </div>
    <span class="tile-title"> <%= title %></span>
    <span class="tile-description"> <%= description %></span>
  </div>
</div>


