<h1><%= t 'events.choose_event_format' %></h1>

<%= link_to t('.new', default: t('events.new_league')),
            new_league_path, class: 'btn btn-default' %>
<%= link_to t('.new', default: t('events.new_tournament')),
            new_tournament_path, class: 'btn btn-default' %>
