<h1><%= t 'events.choose_event_format' %></h1>

<%= link_to '<button type="button">New league</button>'.html_safe, new_event_path %>
<%= link_to '<button type="button">New tournament</button>'.html_safe, new_event_path %>
