<h1>Choose event format</h1>

<%= link_to '<button type="button">New league</button>'.html_safe, new_event_path %>
<%= link_to '<button type="button">New tournament</button>'.html_safe, new_event_path %>
